@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 60% 95%;
    --foreground: 262 30% 25%;
    --card: 300 0% 100%;
    --card-foreground: 262 30% 25%;
    --popover: 300 0% 100%;
    --popover-foreground: 262 30% 25%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 262 60% 90%;
    --secondary-foreground: 262 52% 30%;
    --muted: 262 60% 92%;
    --muted-foreground: 262 20% 55%;
    --accent: 229 52% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 30% 88%;
    --input: 262 30% 92%;
    --ring: 262 52% 47%;
    --radius: 0.5rem;

    --chart-1: 262 52% 47%;
    --chart-2: 229 52% 48%;
    --chart-3: 300 50% 60%;
    --chart-4: 262 70% 70%;
    --chart-5: 229 70% 70%;

    --sidebar-background: 262 40% 25%;
    --sidebar-foreground: 262 20% 85%;
    --sidebar-primary: 300 60% 95%;
    --sidebar-primary-foreground: 262 52% 47%;
    --sidebar-accent: 262 40% 35%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 262 40% 30%;
    --sidebar-ring: 300 60% 95%;
  }

  .dark {
    --background: 262 20% 10%;
    --foreground: 300 60% 95%;
    --card: 262 20% 12%;
    --card-foreground: 300 60% 95%;
    --popover: 262 20% 10%;
    --popover-foreground: 300 60% 95%;
    --primary: 300 60% 95%;
    --primary-foreground: 262 52% 47%;
    --secondary: 262 20% 20%;
    --secondary-foreground: 300 60% 95%;
    --muted: 262 20% 20%;
    --muted-foreground: 262 20% 75%;
    --accent: 229 52% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 20%;
    --input: 262 20% 22%;
    --ring: 300 60% 95%;

    --chart-1: 262 62% 57%;
    --chart-2: 229 62% 58%;
    --chart-3: 300 60% 70%;
    --chart-4: 262 80% 80%;
    --chart-5: 229 80% 80%;
    
    --sidebar-background: 262 20% 12%;
    --sidebar-foreground: 262 20% 85%;
    --sidebar-primary: 300 60% 95%;
    --sidebar-primary-foreground: 262 52% 47%;
    --sidebar-accent: 262 20% 22%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 262 20% 20%;
    --sidebar-ring: 300 60% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
